# Ignore log files
*.log

# Ignore the 'logs' directory
/logs/

# Ignore a specific file
secret.txt

# Ignore all .secret files except important.txt
*.secret
!important.txt

# Ignore jpg files
*.jpg

# Ignore png files
*.png